.sidePanel {
  width: 100vw;
  height: 100vh;
  background-color: #26292f;
  overflow: hidden;
  color: white;
}

.sidePanel h1 {
  width: fit-content;
  padding-bottom: 10px;
  border-bottom: 4px solid white;
}

.sidePanel pre {
  font-size: 1.2em;
  text-wrap: wrap;
  margin: 2px 0;
}

.sidePanel pre span {
  color: tomato;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
}
