body {
  width: 300px;
  min-height: 200px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  overflow-x: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: 0;
}

.ment {
  text-align: center;
  color: gray;
}

.issueMent {
  font-size: 1.1em;
  margin-right: 3px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  padding: 6px;
  background-color: darkseagreen;
  color: white;
  transition: 0.2s;
}
.issueMent:hover {
  background-color: forestgreen;
}

a,
button {
  cursor: pointer;
}

.funcDetailSetting {
  /* padding: 4px; */
}
.funcDetailSetting span {
  margin-right: 6px;
  font-size: 14px;
}

.funcDetailSetting .select {
  display: inline-flex;
  justify-content: space-between;
}

.keymapSetting > div {
  display: flex;
}

.keymapSetting > div > textarea {
  border: 2px solid darkseagreen;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.keymapSetting > div > button {
  margin-left: -2px;
  color: white;
  background-color: darkseagreen;
  border: 2px solid darkseagreen;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* Credit Component */

.credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 10px 0;
}

.credit > div {
  display: flex;
  gap: 3px;
}
