body {
  width: 300px;
  min-height: 200px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  border: 0;
}

.funcDetailSetting span {
  margin-right: 6px;
  font-size: 14px;
}

.funcDetailSetting .select {
  display: inline-flex;
  justify-content: space-between;
}
/* Credit Component */

.credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.credit > div {
  display: flex;
  gap: 3px;
}
