.popup-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 20px;
  border: 1px solid #a3c9aa;
}

.popup-container h1 {
  font-size: 32px;
  padding: 0;
  margin: 0;
  color: #a3c9aa;
}

.popup-container ul {
  padding: 0;
}

.popup-container li {
  list-style: none;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
}

.popup-container .funcList {
  padding: 0.5em;
}

.popup-container .funcList input {
  margin-right: 10px;
  width: 24px;
  aspect-ratio: 1/1;
}

.popup-container .funcList span {
  margin-top: 3px;
}

.btnWrapper button {
  padding: 4px 20px;
  border-radius: 3px;
  border: 0;
  font-size: 16px;
}

.btnWrapper button:hover {
  background-color: #a3c9aa;
  transform: 0.2s;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.tab {
  /* padding: 5px 0px; */
  color: white;

  display: flex;
}

.tab > button {
  transition: 0.2s ease;

  color: black;
  padding: 5px 10px;
  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.tab > button:last-child {
  border-right: 1px solid black;
}

.tab > button:hover {
  background-color: #808080;
  color: white;
}

.tab > .selected {
  background-color: #434242;
  color: white;
}

.table {
  border: 1px solid lightgray;
}

.table > thead > tr {
  border-bottom: 1px solid black;
}

.table td,
th {
  padding: 0.3em 0.8em;
}
